<div class="grid-container">
  <app-header class="header"></app-header>
  <app-aside class="aside"></app-aside>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <app-footer class="footer"></app-footer>
</div>


<!--    {{ title }}-->
<!--    <p>{{name }} {{lastName}}</p>-->
<!--    <div>-->
<!--      <input (input)="display()" [type]="typeInput" [(ngModel)]="valueInput">-->
<!--      <br><br>-->
<!--      <h3>{{user.name | lowercase}}</h3>-->
<!--      <h3>{{user.age}}</h3>-->
<!--      <h3>{{ myDate | date:'fullDate'}}</h3>-->
<!--        {{checkPerformance}}-->
<!--    </div>-->
<!--    <button (click)="bonjour()">tutu</button>-->
